$color-yellow: #fff159;
$color-white: white;
$color-gray-ligth: #f8f8f8;
$color-gray: gray;
$color-black: black;
$color-body: #ebebeb;
$color-blue: #3483fa;
$color-blue-dark: #2968c8;
$color-green: green;
